.text-primry-dark {
  color: #0e4e89;
}

.box-container {
  background: #ffffff;
  border-radius: 10%;
  display: flex;
  align-items: center;
  text-align: center;
}

.box-container-med {
  background: #ffffff;
  border-radius: 2%;
  padding: 16px;
}

.h-hf {
  height: 50vh;
}

.ant-btn-primary {
  background-color: #1677ff;
}

.ant-space-item {
  color: #1677ff;
}
